@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-white:#ffffff;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
   --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bgl: #2e3267;
  --color-bg2: #424890;


/* size of container dependng upon screen */
  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  --transition: all 400ms ease;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-bg);
    line-height: 1.7;
    color: var(--color-white) !important;
    -webkit-font-smoothing: antialiased;
} 

h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
}


ul{
    list-style: none;
}

/* Utility classes */
.container {
    max-width: var(--container-width-lg);
    margin: 0 auto;
}
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section {
    padding:5rem 0 /**  80px 0*/;
}

h1{
    font-size: 2.625rem;/** 42px*/
}

h2{
    font-size: 2.1875rem ; /** 35px*/
}

h3{
    font-size: 1.75rem; /** 28px*/
}

h4{
    font-size: 1.5rem; /** 24px*/
}
h5{
    font-size: 1.25rem; /** 20px*/
}
.btn {
    padding: .625rem .875rem; /**10px 14px*/
    background: var(--color-white);
    color: var(--color-black);
    font-size: 1.0625rem; /**17px*/
    font-weight: 500;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
    width: 9.6875rem; /**155px;*/
    height: 3.125rem; /**50px;*/
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
   
}

.title  {
    text-align: left;
    text-transform: capitalize;
    /* line-height: 1.4; */
    /* font-size: 2.8em; */
}

.lead  {
    line-height: 1.5;
  
    
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}


.my-16{
    margin-top: 1rem; /**16px*/
    margin-bottom: 1rem;/**16px*/
}

.mb-15{
    margin-bottom: .9375rem;/**15px*/
}

.capitalize{
    text-transform: capitalize;
}

.center {
    text-align: center;
}
/* Utility classes */

.small_screen {
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #ffffff !important;
}




/* showing on mobile screen  */
.hamburger-active-class   {
    width: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background: var(--color-bgl);
    z-index: 100;
    width: 70%;
    padding: 40px 5px;
    border-radius: 5px;
    transition: var(--transition);
    box-shadow: 0 0 64px -30px rgba(0,0,0,.5);
}
/* showing on mobile screen  */


/* navbar */

.nav-fixed{
    background: var(--color-bgl);
    z-index: 100;
    box-shadow: 0 -39px 43px rgba(0,0,0,.5);
    transition: var(--transition);
}


.nav{
    width: 100%;
    height: 4rem; /** 64px*/
    position: fixed;
    top: 0;
    /* background-color: red; */
}

.nav .nav__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__bar .nav__menu   {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4;
    
    /* background: blue; */
}  

.nav__menu .nav__item {
    margin: 0 1rem;
}

.nav__item  i {
    margin-right: .3rem;
}

.nav__item a {
    transition: all 400 ease;
    font-size: 1.125rem; /** 18px*/
}

.nav__item a:hover {
    color: var(--color-bg2);
}










/* header css  */

.header  {
    position: relative;
    top: 6rem;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    z-index: -10;
    margin-bottom: 100px;
}
.header  .header__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem; /** 80px*/
    height: 100%;
} 
/* header css  */


/* categories css  */ 

.categories {
    background-color: var(--color-bg2);
}
.categories .categories__list{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem; /** 40px*/

}
.categories  .categories__right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px 0; /** 8px*/
}

.categories__right .category {
    background-color: var(--color-bgl);
 
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    transition: var(--transition);
}

.categories__right .category:hover { 
    box-shadow: 0 14px 25px rgba(0,0,0,0.3);
}

.categories__right .category .category__icon {

    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    border-radius: 10px;
}

.categories__right .category:nth-child(1) .category__icon{
    background-color: var(--color-primary);
}


.categories__right .category:nth-child(2) .category__icon{
    background-color: var(--color-primary) !important;
}


.categories__right .category:nth-child(3) .category__icon{
    background-color: var(--color-success);
}


.categories__right .category:nth-child(4) .category__icon{
    background-color: var(--color-warning);
}


.categories__right .category:nth-child(5) .category__icon{
    background-color: var(--color-bg2);
}


.categories__right .category:nth-child(6) .category__icon{
    background-color: var(--color-bg);
}


.categories__right .category:nth-child(7) .category__icon{
    background-color: var(--color-danger);
}

.categories__right .category .category__icon i{
    font-size: 25px;
    text-align: center;
}


.categories__right .category h5{
    margin: 20px   0 10px;
    width: fit-content; 
}

.categories__right .category p{
    font-size: .90rem;
}

/* categories css  */

/* course */
.courses{
background-color: var(--color-bgl);
}
.courses__container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0 10px;
}

.courses__container .course{
    background-color: var(--color-bg);
    padding-bottom: 10px;
    cursor: pointer;
    transition: var(--transition);
    border: none;
}
.courses__container .course:hover{
    transform: scaleY(1.1);
    border: 1px solid var(--color-primary);
}

.courses__container .course__detail {
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
}
/* course*/







/* faq */
.faqs {
    background-color: var(--color-bg2);
    box-shadow:   2px 0 55px rgba(0,0,0,.5);
}

.faqs .faqs__container {
    margin-top: 25px;
    
}
.faqs__container .faq {
    display: flex;
    padding: 40px;
    background-color: var(--color-primary);
    gap: 1.4rem;
    height: fit-content;
    cursor: pointer;
    margin: 10px 0;
}

.faqs__container .question__answer  h3{
 font-size: 1.2rem;
 line-height: 1.7;
}

.faqs__container .question__answer  p{
    margin-top:.56rem;
    display: none;
    transform: var(--transition);
}
.faqs__container .faq.show  p{
    display: block;
}
.faqs__container .faq__icon i{
    font-size: 1.5rem;
}


/* faq */







/* testimonial css */
.testimonial{

}

.testimonial .avatar{
    width: 6rem;
    margin: 0 auto;
    overflow: hidden;
    clip-path: circle();
    object-fit: contain;
}

.testimonial__info {
    text-align: center;
}

.testimonial__body{
    background-color: var(--color-bg2);
    padding: 40px 10px;
    margin-bottom: 10px;
    margin-top: 65px;
    position: relative;
}
.testimonial__body::before {
    content: '';
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: rotate(-45deg) translateY(-50%);
    z-index: -1;
    width: 6rem;
    height: 6rem;
    background: linear-gradient(135deg, transparent, var(--color-bg2),var(--color-bg2) );
}
.testimonial_wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 30px;
}
 .mySwiper {
     width: 100%;
     position: relative;
     overflow: hidden;
 }
  
/* testimonial css */


/* footer css  */
.footer{
    background-color: var(--color-bgl);
}

.footer .footer__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px 30px;
}
/* footer css  */







/* ===============================MEDIa QUERIES================================== */

/* for laptoop */
@media screen and (max-width:1024px) {
    
    #mobile__navbar {
        display: none;
    }
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-style: 1rem;
    }

    .small_screen{
        display: block;
    }

    /* Navbar css  */
    .nav__bar .nav__menu, .right-action{
        display: none;
    }
    /* Navbar css  */

    /* .categories css */
    .categories  .categories__right {
       grid-template-columns: repeat(2,1fr);
    }
    /* .categories css */
}


/* for tablets */
@media screen and (max-width:768px) {
    .container{
        width: var(--container-width-md);
    }
    /* header css */
    .header{
        height: 100vh;
    }
    .header  .header__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* header css */

    /* .categories css  */
    .categories .categories__list {
      display: flex;
      flex-flow: column wrap;
    }
    /* .categories css  */


    /* course css  */
    
    .courses__container {   
        grid-template-columns: repeat(1,1fr);
    }
    /* course css  */

    /* footer css  */
    .footer .footer__container {
        grid-template-columns: repeat(2,1fr);
       
    }
    .footer__content > h3{
        margin-bottom: 12px;
         
    }
    /* footer css  */
}


/* for mobile */
@media screen and (max-width:448px) {
    .btn {
        padding: 0 .75rem;
        font-size: 1.1rem;
        width: -2.3125rem;
        height: 2.125rem;
      
    }  
   .container{
       width: var(--container-width-sm);
   }
   h3{
    font-size: .8rem;
}
h2{
    font-size: 1rem;
}
h1{
    font-size: 1.2rem;
}
/* navbar  */
.nav .nav__bar{
    position: relative;
}

 
/* navbar  */

/* header */
.header .header__container-left  h3{
    font-size: .90rem;
}
.header .header__container-left p{
    font-size: .61rem;
}
/* header  */


/* .categories */
.categories .categories__left p{
    font-size: .61rem;
}
.categories  .categories__right {
    grid-template-columns: repeat(1,1fr);
}
/* .categories */

/* .testimonial css  */
.testimonial_wrapper {
    
    grid-template-columns: repeat(1,1fr);
   
}

.testimonial__body {
   
    padding: 10px 2px;
    
}
.testimonial__body::before {
     
    top: 1.80rem;
    
}

/* .course */

.course h4 {
    font-size: .75rem;
}
.course p {
    font-size: .64rem;
}
/* .course */

/* .faqs css  */
.faqs h1  {
    font-size: 0.75rem;
}
.faqs__container .faq {
 
    padding: 10px 5px;
   
    margin: 5px 0;
    gap: .4rem;
}

.faqs__container .faq.show  p {
    font-size: .75rem;
}

.faqs__container .question__answer  h3 {
    font-size: .75rem; 
}
/* .faqs css  */


/* .testimonial css  */

    /* footer css  */
    .footer .footer__container {
        grid-template-columns: repeat(1,1fr);
    }

    .footer__content h3  {
        font-size: 1rem;
    }
    /* footer css  */
}